<section class="about section" id="about">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>About Me</h2>
      </div>
    </div>
    <div class="row">
      <div class="about-content">
        <div class="row">
          <div class="about-text">
            <h3>I'm Iryna Grytsaenko and <span>Front-end Developer</span></h3>
            <p>
              I am a dedicated learner, keeping up with the latest industry
              trends to provide innovative solutions. I am excited to connect
              with other professionals and collaborate on new opportunities.
              Please check out my CV for further details.
            </p>
          </div>
        </div>

        <div class="personal-info">
          <ul class="row">
            <li class="info-item">
              <p>Bidthday: <span>03 Sep 1994</span></p>
            </li>
            <li class="info-item">
              <p>Age: <span>28</span></p>
            </li>
            <li class="info-item">
              <p>
                Portfolio:
                <span
                  ><a href="https://github.com/Iryna-Gry"
                    >github.com/Iryna-Gry</a
                  ></span
                >
              </p>
            </li>
            <li class="info-item">
              <p>
                Email:
                <a href="mailto:iryna.grytsaenko@gmail.com"
                  >iryna.grytsaenko@gmail.com</a
                >
              </p>
            </li>
            <li class="info-item">
              <p>Phone: <span>+38 099 278 53 02</span></p>
            </li>
            <li class="info-item">
              <p>City: <span>Kryvyi Rih, Ukraine</span></p>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="section-title">
            <h2>My Skills</h2>
          </div>
        </div>
        <div>
          <div class="skills">
            <ul class="skills_list">
              <li class="skill-item">
                <div class="image-wrapper">
                  <img src="images/html-logo.png" width="120" alt="html logo" />
                </div>
                <h5>HTML</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img src="images/css-logo.svg" width="120" alt="css logo" />
                </div>
                <h5>CSS</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img src="images/sass-logo.png" width="120" alt="sass logo" />
                </div>
                <h5>SCSS</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img src="images/js-logo.png" width="120" alt="js logo" />
                </div>
                <h5>JavaScript</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img
                    src="images/icon_rest_webservice.webp"
                    width="120"
                    alt="html logo"
                  />
                </div>
                <h5>REST API</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img
                    src="images/react-icon.png"
                    width="120"
                    alt="react logo"
                  />
                </div>
                <h5>React</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img
                    src="images/parcel-logo.png"
                    width="120"
                    alt="parcel logo"
                  />
                </div>
                <h5>Parcel</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img
                    src="images/webpack-logo.svg"
                    width="120"
                    alt="webpack logo"
                  />
                </div>
                <h5>Webpack</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img
                    src="images/figma-logo.png"
                    width="120"
                    alt="figma logo"
                  />
                </div>
                <h5>Figma</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img
                    src="images/github-logo.png"
                    width="120"
                    alt="github logo"
                  />
                </div>
                <h5>GitHub</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img src="images/git-logo.png" width="120" alt="git logo" />
                </div>
                <h5>Git</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img src="images/json-logo.png" width="120" alt="json logo" />
                </div>
                <h5>JSON</h5>
              </li>
              <li class="skill-item">
                <div class="image-wrapper">
                  <img src="images/npm-logo.png" width="120" alt="npm logo" />
                </div>
                <h5>NPM</h5>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="buttons">
              <a href="#contact" class="btn hire-me" data-name="contact"
                >Hire Me</a
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="education">
            <h3 class="title">Education</h3>
            <div class="row">
              <div class="timeline-box">
                <div class="timeline">
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2022 - 2023
                    </h3>
                    <h4 class="timeline-title">Full-stack Developer</h4>
                    <p class="timeline-text">
                      I have gained valuable experience through my team projects
                      at IT school, where I contributed as a developer,
                      providing knowledge and support to achieve successful
                      outcomes.
                    </p>
                  </div>
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2014 - 2015
                    </h3>
                    <h4 class="timeline-title">Master in Finance</h4>
                    <p class="timeline-text"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="experience">
            <h3 class="title">Experience</h3>
            <div class="row">
              <div class="timeline-box">
                <div class="timeline">
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2015 - 2022
                    </h3>
                    <h4 class="timeline-title">Economist</h4>
                    <p class="timeline-text">
                      Automation of managerial reporting to provide info to
                      top-management (Excel, PowerPoint, BPM). Participation in
                      budget/strategy cycle development. Financial modeling
                      support for savings programs; 
                      <h5 class="achievements-title">Achievements:</h5> 
                      <ul class="achievements-list">
                        <li> - optimization
                      of working hours;</li>
                        <li>- products profitability analysis - 1%
                      of revenue pa saved;</li>
                        <li>- 4 people trained.</li>
                        
                      </ul>  
                    </p>
                  </div>
                  <!-- <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2014 - 2015
                    </h3>
                    <h4 class="timeline-title">Master in Finance</h4>
                    <p class="timeline-text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Nam dolore rem ipsam excepturi! Inventore at voluptates
                      vel ab provident facere autem voluptatum architecto, eos
                      explicabo accusantium.
                    </p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
