<section class="about section" id="about">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>About Me</h2>
      </div>
    </div>
    <div class="row">
      <div class="about-content">
        <div class="row">
          <div class="about-text">
            <h3>I'm Iryna Grytsaenko and <span>Full-stack Developer</span></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Excepturi porro impedit nemo aut id. Perspiciatis harum molestias
              quasi perferendis delectus rem numquam odio deserunt. Cum,
              eligendi. Magnam ducimus neque, aut perferendis omnis hic quae
              iste voluptates harum ipsum voluptatem et architecto laboriosam
              soluta! Quod obcaecati magni necessitatibus beatae sit dicta
              molestiae recusandae sint tenetur. Ut!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="personal-info">
            <ul class="row">
              <li class="info-item">
                <p>Bidthday: <span>03 Sep 1994</span></p>
              </li>
              <li class="info-item">
                <p>Age: <span>28</span></p>
              </li>
              <li class="info-item">
                <p>Website: <span>www.domain.com</span></p>
              </li>
              <li class="info-item">
                <p>
                  Email:
                  <a href="mailto:iryna.grytsaenko@gmail.com"
                    >iryna.grytsaenko@gmail.com</a
                  >
                </p>
              </li>
              <li class="info-item">
                <p>Phone: <span>+38 099 278 53 02</span></p>
              </li>
              <li class="info-item">
                <p>City: <span>Kryvyi Rih, Ukraine</span></p>
              </li>
            </ul>
            <div class="row">
              <div class="buttons">
                <a href="#" class="btn">Download CV</a>
                <a href="#contact" class="btn hire-me">Hire Me</a>
              </div>
            </div>
          </div>
          <div class="skills">
            <ul class="row">
              <li class="skill-item">
                <h5>CSS</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 76%"></div>
                  <div class="skill-percent">76%</div>
                </div>
              </li>
              <li class="skill-item">
                <h5>HTML</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 76%"></div>
                  <div class="skill-percent">76%</div>
                </div>
              </li>
              <li class="skill-item">
                <h5>Node.js</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 76%"></div>
                  <div class="skill-percent">76%</div>
                </div>
              </li>
              <li class="skill-item">
                <h5>JavaScript</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 86%"></div>
                  <div class="skill-percent">86%</div>
                </div>
              </li>
              <li class="skill-item">
                <h5>React</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 88%"></div>
                  <div class="skill-percent">88%</div>
                </div>
              </li>
              <li class="skill-item">
                <h5>TypeScript</h5>
                <div class="progress">
                  <div class="progress-in" style="width: 88%"></div>
                  <div class="skill-percent">88%</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="education">
            <h3 class="title">Education</h3>
            <div class="row">
              <div class="timeline-box">
                <div class="timeline">
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2022 - 2023
                    </h3>
                    <h4 class="timeline-title">Full-stack Developer</h4>
                    <p class="timeline-text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Nam dolore rem ipsam excepturi! Inventore at voluptates
                      vel ab provident facere autem voluptatum architecto, eos
                      explicabo accusantium.
                    </p>
                  </div>
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2014 - 2015
                    </h3>
                    <h4 class="timeline-title">Master in Finance</h4>
                    <p class="timeline-text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Nam dolore rem ipsam excepturi! Inventore at voluptates
                      vel ab provident facere autem voluptatum architecto, eos
                      explicabo accusantium.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="experience">
            <h3 class="title">Experience</h3>
            <div class="row">
              <div class="timeline-box">
                <div class="timeline">
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2015 - 2022
                    </h3>
                    <h4 class="timeline-title">Economist</h4>
                    <p class="timeline-text">
                      Automation of managerial reporting to provide info to
                      top-management (Excel, PowerPoint, BPM). Participation in
                      budget/strategy cycle development. Financial modeling
                      support for savings programs; Achievements: - optimization
                      of working hours; - products profitability analysis - 1%
                      of revenue pa saved; - 4 projects calc developed (projects
                      target: 10-20%pa of EBITDA savings through improvements);
                      - 4 people trained.
                    </p>
                  </div>
                  <!-- <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i>2014 - 2015
                    </h3>
                    <h4 class="timeline-title">Master in Finance</h4>
                    <p class="timeline-text">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Nam dolore rem ipsam excepturi! Inventore at voluptates
                      vel ab provident facere autem voluptatum architecto, eos
                      explicabo accusantium.
                    </p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
