<section class="contact section" id="contact">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Contact Me</h2>
      </div>
    </div>
    <h3 class="contact-title">Have you any questions?</h3>
    <h4 class="contact-subtitle">I'm at your services</h4>
    <ul class="row">
      <li class="contact-info-item">
        <div class="icon">
          <i class="fa fa-phone"></i>
        </div>
        <h4>Call me on</h4>
        <a href="tel:+380991111111">+38 099 111 11 11</a>
      </li>
      <li class="contact-info-item">
        <div class="icon">
          <i class="fa fa-envelope"></i>
        </div>
        <h4>Email</h4>
        <a href="mailto:iryna.grytsaenko@gmail.com"
          >iryna.grytsaenko@gmail.com</a
        >
      </li>
      <li class="contact-info-item">
        <div class="icon">
          <i class="fa fa-globe"></i>
        </div>
        <h4>LinkedIn</h4>
        <a href="https://www.linkedin.com/in/iryna-grytsaenko/"
          >iryna-grytsaenko</a
        >
      </li>
      <li class="contact-info-item">
        <div class="icon">
          <i class="fa fa-globe"></i>
        </div>
        <h4>GitHub</h4>
        <a href="https://github.com/Iryna-Gry">Iryna-Gry</a>
      </li>
    </ul>
    <h3 class="contact-title">Send me an email</h3>
        <div class="contact-form">
            <div class="row">
                    <form class="form-group">
                        <div class="sender-info">
                        <input type="text" class="form-control" placeholder="Name">
                        <input type="email" class="form-control" placeholder="Email">
                        </div>
                         <input type="text" class="form-message" placeholder="Subject">
                         <textarea type="text" class="form-message" placeholder="Message"></textarea>
                            <button type="submit" class="btn">Send Message</button>
                    </form>
            </div>
        </div>
    </div>
  </div>

</section>
