<section class="home section visually-hidden">
    <div class="container">
        <div class="row">
            <div class="home-info">
                <h3 class="hello">Hello, my name is <span class="name"> Iryna Grytsaenko</span></h3>
                <h3 class="my-profession">I'm a <span class="typing">full-stack developer</span></h3>
                <p>I am a Front-End developer looking for a full-time position in a company that's aimed to provide upscale service and
                sophisticated solutions to its customers. I can offer my knowledge of HTML, CSS and JavaScript to contribute. I am a
                continuous learner and always ready for new challenges and achievements.</p>
                <a href="#contact" class="btn hire-me">Hire Me</a>
            </div>
            <div class="home-img">
                <img src="images/hero.jpg" alt="My photo">
            </div>
        </div>
    </div>
</section>