<section class="home active section" id="home">
  <div class="container">
    <div class="row">
      <div class="home-info">
        <h3 class="hello">
          Hello, my name is <span class="name"> Iryna Grytsaenko</span>
        </h3>
        <h3 class="my-profession">
          I'm a <span class="typing">JavaScript Developer</span>
        </h3>
        <p>
          I work with HTML, CSS, SCSS, JavaScript, and React.
          <br />I am a dedicated learner, keeping up with the latest industry
          trends to provide innovative solutions. I am excited to connect with
          other professionals and collaborate on new opportunities.
        </p>
        <a href="#" class="btn">Download CV</a>
      </div>
      <div class="home-img">
        <img src="images/hero.jpg" alt="My photo" />
      </div>
    </div>
  </div>
</section>
