<section class="portfolio section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-heading">
        <h2>My last projects:</h2>
      </div>
    </div>
    <ul class="row portfolio-list">
      <li class="portfolio-item">
        <div class="portfolio-item-inner">
          <div class="portfolio-img">
            <a
              href="https://iryna-gry.github.io/goit-react-hw-05-movies"
              target="_blank"
              title="Go to Github Page"
              ><picture>
                <source
                  srcset="./images/MovieGalleryReact.webp"
                  type="image/webp"
                />
                <img
                  src="./images/MovieGalleryReact.jpg"
                  alt="Movie gallery with react"
                />
              </picture>
            </a>
          </div>
          <p class="portfolio-img-title">Popular Movies Gallery</p>
          <p class="portfolio-img-text">
            [HTML, CSS, JavaScript, React, ReactHooks, ReactRoutes, REST API,
            Webpack]
          </p>
          <p class="portfolio-img-text">
            Libraries:
            <a href="">axios</a> | <a href="">prop-types</a> |
            <a href="">react-icons</a> | <a href="">react-loader-spinner</a> |
            <a href="">styled-components</a>
          </p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-inner">
          <div class="portfolio-img">
            <a
              href="https://iryna-gry.github.io/Filmoteka-team-project-JS/"
              target="_blank"
              title="Go to Github Page"
              ><picture>
                <source
                  srcset="./images/FilmotekaWebsite.webp"
                  type="image/webp"
                />
                <img
                  src="./images/FilmotekaWebsite.jpg"
                  alt="Movie library website"
                />
              </picture>
            </a>
          </div>
          <p class="portfolio-img-title">Filmoteka Website</p>
          <p class="portfolio-img-text">
            [HTML, CSS, SCSS, JavaScript, REST API, Parcel, Firebase]
          </p>
          <p class="portfolio-img-text">
            Libraries:
            <a href="">axios</a> | <a href="">basiclightbox</a> |
            <a href="">firebase</a> | <a href="">lodash.throttle</a> |
            <a href="">modern-normalize</a> | <a href="">simplelightbox</a> |
            <a href="">swiper</a> | <a href="">tui-pagination</a>
          </p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-inner">
          <div class="portfolio-img">
            <a
              href="https://iryna-gry.github.io/goit-js-hw-11/"
              target="_blank"
              title="Go to Github Page"
              ><picture>
                <source srcset="./images/GalleryPage.webp" type="image/webp" />
                <img src="./images/GalleryPage.jpg" alt="Picture gallery" />
              </picture>
            </a>
          </div>
          <p class="portfolio-img-title">Picture Gallery</p>
          <p class="portfolio-img-text">
            [HTML, CSS, JavaScript, REST API, Parcel]
          </p>
          <p class="portfolio-img-text">
            Libraries:
            <a href="">axios</a> | <a href="">infinite-scroll</a> |
            <a href="">notiflix</a> | <a href="">only-scrollbar</a> |
            <a href="">modern-normalize</a> | <a href="">simplelightbox</a>
          </p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-inner">
          <div class="portfolio-img">
            <a
              href="https://iryna-gry.github.io/command-project-HTML-CSS/"
              target="_blank"
              title="Go to Github Page"
              ><picture>
                <source
                  srcset="./images/IceCreamShopPage.webp"
                  type="image/webp"
                />
                <img
                  src="./images/IceCreamShopPage.jpg"
                  alt="Icecream shop webpage"
                />
              </picture>
            </a>
          </div>
          <p class="portfolio-img-title">IceCream shop Webpage</p>
          <p class="portfolio-img-text">
            [HTML, CSS, SCSS, JavaScript, Parcel]
          </p>
          <p class="portfolio-img-text">
            Libraries:
            <a href="">modern-normalize</a>
          </p>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="portfolio-item-inner">
          <div class="portfolio-img">
            <a
              href="https://iryna-gry.github.io/my-site/"
              target="_blank"
              title="Go to Github Page"
              ><picture>
                <source
                  srcset="./images/PersonalWebsite.webp"
                  type="image/webp"
                />
                <img
                  src="./images/PersonalWebsite.jpg"
                  alt="Personal webpage"
                />
              </picture>
            </a>
          </div>
          <p class="portfolio-img-title">Personal Webpage</p>
          <p class="portfolio-img-text">
            [HTML, CSS, SCSS, JavaScript, Parcel]
          </p>
          <p class="portfolio-img-text">
            Libraries:
            <a href="">modern-normalize</a> |
            <a href="">typed.js</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
