<div class="style-switcher">
  <button type="button" class="style-switcher-toggler s-icon">
    <i class="fas fa-cog fa-spin"></i>
  </button>
  <button type="button" class="day-night s-icon">
    <i class="fas"></i>
  </button>
  <h4>Theme Colors</h4>
  <div class="colors" data-color-set>
    <span class="color-skin-red" data-color-skin="#ec1839"></span>
    <span class="color-skin-orange" data-color-skin="#fa5b0f"></span>
    <span class="color-skin-green" data-color-skin="#37b182"></span>
    <span class="color-skin-blue" data-color-skin="#1854b4"></span>
    <span class="color-skin-violet" data-color-skin="#f021b2"></span>
  </div>
</div>
