.home .home-img img {
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
  & .home-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    @media (max-width: 991px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  & .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    height: 100%;
    text-align: center;
    position: relative;
    @media (max-width: 991px) {
      display: none;
    }
    & img {
      @media (min-width: 1100px) {
        width: 100%;
      }
      @media (min-width: 768px) {
        width: 90%;
      }
    }
    &::after {
      content: '';
      position: absolute;
      height: 80px;
      width: 80px;
      right: 0;
      bottom: -50;
      border-bottom: 10px solid var(--skin-color);
      border-right: 10px solid var(--skin-color);
    }
    &::before {
      content: '';
      position: absolute;
      height: 80px;
      width: 80px;
      left: 0;
      top: -50;
      border-top: 10px solid var(--skin-color);
      border-left: 10px solid var(--skin-color);
    }
  }
  & p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
  }
}
h3.hello {
  font-size: 28px;
  margin: 15px 0;
  & span {
    // font-family: 'Clicker Script', cursive;
    @include font-box(700, 30px, null, null);
    color: var(--skin-color);
  }
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}
